@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* src/app/not-found/not-found.module.css */
.container {
  
  text-align: center;
  padding: 0;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.header {
  background-color: #000;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header img {
  display: block;
  margin: 0 auto;
}

.content {
  padding: 25px;
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.errorImage {
  margin: 20px auto;
  width: 400px;
  height: auto;
}

.message {
  margin: 20px 0;
  font-size: 18px;
}

.homeButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px !important;
  background-color: #2874f0;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif !important;
}